{{!-- <h1>Profile-Display Works</h1> --}}
{{!-- /* @ To Do
* change style
*/
--}}
<div class="card text-center">
    <div class="card-header">
        <img class="card-img-top" id="profileImage" src="{{profile.image_secure_url}}" alt="Card image cap">
        <h1>{{profile.user.username}}</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Your Age: {{profile.age}}</h5>
        <h5 class="card-title">Your Weight: {{profile.weight}} (pounds)</h5>
        <h5 class="card-title">Your Height: {{profile.height}} (ft)</h5>
        {{!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> --}}
    </div>
    <div class="card-footer text-muted">
        BMI (Body Mass Index): {{userBmi}}
    </div>
    <div class="card-footer text-muted">
        <img class="card-img-bottom text-center" style="width:50%" src="/images/bmi.png">
    </div>
</div>


{{!-- <h1>{{profile.age}} years old</h1>
<h1>{{profile.weight}} pound</h1>
<h1>{{profile.height}} ft</h1>
<h1>name: {{profile.user.username}}</h1>
<h1>image: </h1>
<img id="profileImage" src="{{profile.image_secure_url}}"> --}}