{{!-- /* @ To Do
* change style
*/
--}}

<h1>Profile-Display Works</h1>

<h1>{{profile.age}} years old</h1>
<h1>{{profile.weight}} pound</h1>
<h1>{{profile.height}} ft</h1>
<h1>name: {{profile.user.username}}</h1>
<h1>image: </h1>
<img id="profileImage" src="{{profile.image_secure_url}}">